/* WebView */
    .web-view {
        -fx-focus-color: transparent;
        -fx-faint-focus-color: transparent;
        -fx-border-width: 0;
    }

/* TextArea */
    .text-area, .text-area .content {
        width: 100%;
        -fx-background-color: white;
        -fx-font-family: monospace;
        -fx-font-size: 12;
        -fx-border-width: 0 0 0 0;
        -fx-text-fill: #ffffff;
        -fx-border-radius: 0;
        -fx-border-color: white;
        -fx-background-radius: 0;
    }